.app-header {
  // background-color: $clr4;
  border-bottom: 1px solid $clr4;
  padding: 10px;
  .logo-font {
    font-family: "Lobster-Regular", sans-serif;
    font-size: 2em;
  }

  .logo-point {
    color: $clr1;
  }
  .nav-container {
    justify-content: space-between;
  }
  nav > * {
    padding-inline-start: 20px;
    &:hover {
      color: $clr1;
    }
  }
}
