.app-header {
  height: 3em;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  color: $clr6;
  .logo-font {
    font-family: "Lobster-Regular", sans-serif;
    font-size: 2em;
  }

  .logo-point {
    color: $clr1;
  }
  
  .nav-container {
    z-index: 5;
    position: fixed;
    width: 90%; // check about this definition regarding the main layout
    // but in order to prevent the navbar to collapse i needed the width to be set !!!
    // position: fixed;
    justify-content: space-between;

  }
  nav > * {
    padding-inline-start: 20px;
    // &:hover {
    //   border-color: $clr1;
    // }
  }
  .join{
    border: solid 1.5px $clr6;
    padding-inline: 0.8em;
    border-radius: 10%;
    margin-left: 1em;
    &:hover{
      background-color: $clr1
    }
  }
  // when scrolling the page:
  .navbar.white{
    background-color: $clr6;
    color: $clr3;
    nav > * {
      &:hover {
        color: $clr1;
      }
    }
    .join{
      border-color: $clr1;
      color: $clr1;
      &:hover{
        background-color: $clr1;
        color: $clr6;
      }
    }
  }
  .sub-nav{
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid $clr3;
    width: 90%;
    position: fixed;
    margin-top: 3em;
    color: $clr3;
    background-color: $clr6;
    &.hidden{
      visibility: hidden;
    }
  }


}
