* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr1;
// }

html {
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: $clr3;
  //  background image
    max-height: 100vh;
    background-image: url("../../img/home-page/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-size: rem(16px);
    margin: 0;
    // max-width: 1024px;
    // margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    line-height: 1;
}

section,
main,
footer {
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    // all: unset;
}
// a:hover {
//     text-decoration: underline;
// }
