.gig-details {
    // margin-top: 200px;
    .seller-overview {
        margin-bottom: 20px;
        font-size: 14px;

        .title {
            font-size: 28px;
            padding-bottom: 16px;
            line-height: 130%;
            margin: 0;
        }
        .avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        a {
            font-size: 14px;
            padding-inline-start: 12px;
            padding-inline-end: 5px;
            color: $clr9;
        }
        .seller-level {
            color: $clr5;
        }
        span {
            padding: 0 1.5px;
            // color: $clr3;
        }
        .stop {
            padding: 0 5px;
            color: $clr3;
        }
        .react-stars {
            transform: translateY(-1px);
        }
        .rating {
            padding-inline-start: 4px;
            color: $clr5;
        }
        .raters {
            padding-inline-start: 4px;
        }
        .qweue {
            color: $clr10;
        }
    }
}
.gallery-image-gallery {
    z-index: 1;
}
.image-gallery-thumbnails-container {
    text-align: start;
}
