.home-page{
    .top-fold{
        transition: 200ms;
        color: $clr6;
        position: fixed;
        top: 80px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &.hidden{
            visibility: hidden;
        }
    }
    h1{
        margin-top: 25vh;
        font-size: 2.8em;
        line-height: 56px;
        // todo: download fonts
        font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 700;
    }
    .curly-word-style{
        font-family: MeriendaOne-One;
        font-weight: 400;
    }
    // form{
        .home-page-search-box{
        height: 2.8em;
        display:  flex;
        flex-direction: row;
        align-items: center;
        padding: 0%;
        // margin-bottom: 1em;
        width: 100%;
        .search-box-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $clr6;
            width: 10%;
            height: 100%;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        i{
            padding-top: 5px;
            color: $clr3;
        }
        button{
            margin: 0%;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            // padding-inline: 1em;
            // width: fit-content;
            // padding: auto 24px;
            height: 100%;
            font-size: 1em;
            font-weight: 700;
            &:hover{
                filter: brightness(0.85);
            }
        }
        input{
            border: none;
            height: 100%;
            width: 100%;
            font-size: 1em;
            
        }
        input:focus{
            outline: none;
            
        }
    }
    .popular-categories{
        display: flex;
        gap: 1em;
        span{
            font-size: 14px;
            font-weight: 600;
            border: solid 0.5px $clr6;
            border-radius: 2em;
            padding-inline: 1em;
            &:hover{
                background-color: $clr6;
                color: $clr3;
                cursor: pointer;
            }
        }
        margin-bottom: 30%;
    }
    .social-proof-line{
        margin-top: 1.5em;
        margin-bottom: 3em;
        color: $clr7;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
        font-size: 1.3em;
    }
    .recently-viewed-section{
        h2{
            font-size: 2em;
        }
    }
    .popular-services{
        margin-top: 3em;
        h2{
            font-size: 2em;
        }
    }
    .more-details-about-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 4em 0;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        background-color: $clr11;
        margin-bottom: 2em;
        // line-height: 3em;
        font-weight: 400;
        .content{
            padding-right: 15%;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        span{
            margin-right: 1em;
        }
        h2{
            color: $clr9;
            font-size: 2em;
            margin-bottom: 1.25em;
        }
        h3,h4{
            font-size: 1.125em;
            line-height: 1.625em;
        }
        h3{
            color: $clr9;

        }
    }
    .explore-market-place{
        h2{
            padding-top: 2em;
            font-size: 2em;
            // padding-bottom: 2em;
        }
        padding-bottom: 3em;

    }
    .get-inspired-with-projects{
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        h2{
            font-size: 2em;
        }
        background-color: #f5f5f5;
    }
    .ninerr-guides{
        h2{
            font-size: 2em;
        }
    }
    .find-the-talent{
        padding-left: 2em;
        color: $clr6;
        font-size: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #b3bec4;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                margin-top: 2.5em;
                // justify-self: flex-start;
                text-align: left;
                padding: 1em 2em;
                font-weight: 700;
                border-radius: 5px;
                background-color: $clr1;
            }
        }
        margin-bottom: 2em;
    }
    
}