.home-page{
    .hero-wrapper{
        // display: flex;
        // flex-direction: column;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 2fr 1fr;
        height: 125vh;
        position: relative;
        .hero-background{
            // height: 10vh;
            transition: 1000ms;
            margin-bottom: 2em;
            &.transparent{
                opacity: 0
            }
            img{width: 100%;}
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            // position: relative;
            // margin-bottom: 2em;
            .seller-name{
                // grid-area: 2/2/3/3;
                position: absolute;
                right: 40px;
                bottom: 20px;
                color: $clr6;
                .stars{
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    color: rgb(233, 236, 10);
                }
            }
        }
        .hero-content{
            position: absolute;
            top: 80px;
            // left: 100px;
            z-index: 2;
            color: $clr6;
            
            h1{
                margin-top: 25vh;
                font-size: 2.8em;
                line-height: 56px;
                // todo: download fonts
                font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
                font-weight: 700;
                padding-bottom: 24px;
            }
            .curly-word-style{
                font-family: MeriendaOne-One;
                font-weight: 400;
            }
            // form{
            .home-page-search-box{
                height: 2.8em;
                display:  flex;
                flex-direction: row;
                align-items: center;
                padding: 0%;
                width: 100%;
                .search-box-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $clr6;
                    width: 10%;
                    height: 100%;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    margin: 0%;
                }
                i{
                    padding-top: 5px;
                    color: $clr3;
                }
                button{
                    margin: 0%;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    // padding-inline: 1em;
                    // width: fit-content;
                    // padding: auto 24px;
                    height: 100%;
                    font-size: 1em;
                    font-weight: 700;
                    &:hover{
                        filter: brightness(0.85);
                    }
                }
                input{
                    border: none;
                    height: 100%;
                    width: 100%;
                    font-size: 1em;
                    margin: 0%;
                    
                }
                input:focus{
                    outline: none;
                    
                }
            }
            .popular-categories{
                display: flex;
                gap: 1em;
                padding-top: 24px;
                span{
                    font-size: 14px;
                    font-weight: 600;
                    border: solid 0.5px $clr6;
                    border-radius: 2em;
                    padding-inline: 1em;
                    &:hover{
                        background-color: $clr6;
                        color: $clr3;
                        cursor: pointer;
                    }
                }
            }
        }
        // margin-bottom: 10em;
    }

    .social-proof-line{
        // position: sticky;
        // top: 200px;
        // left: 200px;
        z-index: 17;
        margin-top: 1.5em;
        // margin-bottom: 1em;
        color: $clr7;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
        font-size: 1.3em;
    }
   
    .popular-services{
        margin-top: 3em;
        h2{
            font-size: 2em;
        }
    }
    .more-details-about-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 4em 0;
        padding-inline-start: 32px;
        padding-inline-end: 32px;
        background-color: $clr11;
        margin-bottom: 2em;
        // line-height: 3em;
        font-weight: 400;
        .content{
            padding-right: 15%;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        span{
            margin-right: 1em;
        }
        h2{
            color: $clr9;
            font-size: 2em;
            margin-bottom: 1.25em;
        }
        h3,h4{
            font-size: 1.125em;
            line-height: 1.625em;
        }
        h3{
            color: $clr9;

        }
    }
    .explore-market-place{
        h2{
            padding-top: 2em;
            font-size: 2em;
            // padding-bottom: 2em;
        }
        padding-bottom: 3em;

    }

    .find-the-talent{
        padding-left: 96px;
        color: $clr6;
        font-size: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #b3bec4;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            button{
                margin-top: 2.5em;
                // justify-self: flex-start;
                text-align: left;
                padding: 1em 2em;
                font-weight: 700;
                border-radius: 5px;
                background-color: $clr1;
                &:hover{
                    filter: brightness(0.85);
                }
            }
        }
        margin-bottom: 2em;
    }
    
}