// Colors
$clr1: #1dbf73; // brand color
$clr2: #222325;
$clr3: #62646a; // main color
$clr4: #e4e5e7; //borders
$clr5: #ffbe5b; //star
$clr6: #fff;
$clr7: #b5b6ba; //grey(heart)
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
